# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
#my edit
*.rej
*.orig
*.su
*~
*.swp
*.patch
*.bin

# Build tree
/build-*
